.root{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.line{
    height: .25em;
    background-color: #d9d9d9;
    width: 100%;
}


.spanMain{
    display: flex;
    justify-content: center;
}

.spanMainTwo{
    display: flex;
    justify-content: center;
}

.leftDivTwo{

}

.leftDiv{

}

.rightDiv{

}

.rightDivTwo{
    
}