.root{
 
}


.mainDiv{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mainDivTwo{
  display: flex;
  justify-content: center;
}


.h1One{
  text-align: center;
}


.h1Two{
  text-align: center;
}

.h2{
  text-align: center;
  width: 60%;

}